@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 8px;
  color: #F9FAF8;
  background: #3882F6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  flex: auto;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
  font-size: smaller;
}

.header, .footer, .logo, .about {
    color: #F9FAF8;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.contents {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin-top: 52px;
  margin-bottom: 52px;
}

.content {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    padding-left: 300px;
    padding-right: 300px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image {
    width: 200px;
    object-fit: contain;
}

.content.about.left, .content.about.right {
    flex: 1 0 0;
}

.content.about.right {
    display: flex;
    justify-content: end;
}

.content.about.left.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

content.info.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pair {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

.photo {
    display: flex;
    justify-content: center;
}

.small-image {
    width: 100px;
}

.description {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-self: self-end;
}

.right-links {
  display: flex;
  justify-content: flex-end;
}

.header, .footer {
    position: fixed;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
}

.header {
  top: 0;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 300px;
}

.footer {
  bottom: 0;
  justify-content: center;
}