@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  flex: auto;
  gap: 15px;
  
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #F9FAF8;
  font-size: smaller;
  font-weight: 50;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

.header, .footer, .logo, .about {
    color: #F9FAF8;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.contents {
  flex-grow: 1;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 52px;
  margin-bottom: 52px;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quote {
    padding-left: 300px;
    padding-right: 300px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-self: self-end;
}

.right-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1F2937;;
}